.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    transition: color 0.3s ease;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, p {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="button"],
input[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0;
    border: none;
}

.list {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.owl-carousel {
    width: calc(100% - 150px) !important;
    margin-left: auto;
    margin-right: auto;
}

.owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.owl-prev span,
.owl-next span {
    display: none;
}

.owl-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -55px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-image: url(../img/arrow-prew.svg) !important;
    background-position: center !important;
}

.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -55px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-image: url(../img/arrow-next.svg) !important;
    background-position: center !important;
}

.header-slide {
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    color: #19017A;
    margin-bottom: 40px;
}

.content-slide {
    font-size: 22px;
    line-height: 42px;
    color: #27323A;
    line-height: 42px;
}